@model IEnumerable<Warehouse.Models.Currency>

@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h4>latest currency rate update @ViewBag.Date </h4>
        @Html.ActionLink("Update exchange rates", "UpdateRates", "Currencies")
    </div>

<div class="row">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
                <td>
                    @Html.DisplayFor((modelItem => item.Date))
                </td>
            </tr>
        }

    </table>
</div>