@model Warehouse.Models.Product

    <div id="showProduct">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price_base)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Barcode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Currency.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th></th>

            <tr>
                <td>
                    @Html.Display("Name")
                </td>
                <td>
                    @Html.Display("Price_base")
                </td>
                <td>
                    @Html.Display("Price")
                </td>
                <td>
                    @Html.Display("Barcode")
                </td>
                <td>
                    @Html.Display("Category.Name")
                </td>
                <td>
                    @Html.Display("Currency.Name")
                </td>
                <td>
                    @Html.Display("Quantity")
                </td>
            </tr>

        </table>
    </div>